# Titanic Dataset

Önce veriyi genel olarak inceleyelim.

In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('/content/Titanic_dataset.csv')

**Verilerin ilk 5 satırı**

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Verinin boyutu (row, column)**

In [6]:
df.shape

(891, 12)

**Veriyle ilgili genel bilgiler, boş hücre sayısı ve data tipleri**

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**Kolon isimleri**

In [8]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

**Verinin temel istatistiksel değerleri**   
Bazı parametreler için istatistik analizleri anlamsız olabilir, örneğin PassengerID'lerinin mean, standard deviation vb. değerleri anlamsızdır. Benzer şekilde Survived durumu için de değerler 0 ve 1'den oluştuğundan anlamsız analiz sonuçları mevcuttur. Bunun için sadece sayısal olarak anlamlı parametreler için describe fonksiyonunu kullanmak mantıklı olacaktır.

In [28]:
df.describe()
#not all columns have meaningful statistical values.

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

**1. Kazada ölenlerin yaş ortalamasını bulunuz.**

In [11]:
df_dead = df[df['Survived'] == 0]
mean_age_dead = round(df_dead['Age'].mean(), 1)
print("Mean age of passengers who didn't survive:", mean_age_dead)

Mean age of passengers who didn't survive: 30.6

**2. Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz.**

In [12]:
df_dead = df[df['Survived'] == 0]
mean_ticket_price=round(df_dead['Fare'].mean(), 1)
median_ticket_price=df_dead['Fare'].median()
print("Mean ticket price of passengers who didn't survive:", mean_ticket_price)
print("Median ticket price of passengers who didn't survive:", median_ticket_price)

Mean ticket price of passengers who didn't survive: 22.1
Median ticket price of passengers who didn't survive: 10.5

**3. Kazada ölen erkeklerin yaş ortalamasını bulunuz.**

In [13]:
df_dead = df[df['Survived'] == 0]
df_dead_male = df_dead[df_dead['Sex'] == 'male']
mean_age_dead_male = round(df_dead_male['Age'].mean(), 1)
print("Mean age of male passengers who didn't survive:", mean_age_dead_male)

Mean age of male passengers who didn't survive: 31.6

**4. Kazada ölen Kadınların yaş ortalamasını bulunuz.**

In [14]:
df_dead = df[df['Survived'] == 0]
df_dead_female = df_dead[df_dead['Sex'] == 'female']
mean_age_dead_female = round(df_dead_female['Age'].mean(), 1)
print("Mean age of female passengers who didn't survive:", mean_age_dead_female)

Mean age of female passengers who didn't survive: 25.0

**5. Kazadan kurtulanların yaş ortalamasını bulunuz**

In [15]:
df_survived = df[df['Survived'] == 1]
mean_age_survived = round(df_survived['Age'].mean(), 1)
print("Mean age of passengers who survived:", mean_age_survived)

Mean age of passengers who survived: 28.3

**6. Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz.**

In [16]:
df_survived = df[df['Survived'] == 1]
mean_ticket_price_survived = round(df_survived['Fare'].mean(), 1)
print("Mean ticket price of passengers who survived:", mean_ticket_price_survived)

Mean ticket price of passengers who survived: 48.4

**7. Kazadan kurtulan toplam kişi sayısını bulunuz.**

In [19]:
df_survived = df[df['Survived'] == 1]
count_survived=len(df_survived)
print("Count of passengers who survived:", count_survived)

Count of passengers who survived: 342

**8. 10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz.**

In [20]:
df_children=df[df['Age']<10]
median_ticket_price_children=df_children['Fare'].median()
print("Median ticket price of children:", median_ticket_price_children)

Median ticket price of children: 27.0

**9. 1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)**

In [23]:
df.groupby('Pclass')['Fare'].agg(['mean', 'median'])
#this is suggested by colab, my solutions were two separate code lines below.

             mean   median
Pclass
1       84.154687  60.2875
2       20.662183  14.2500
3       13.675550   8.0500

In [21]:
df.groupby('Pclass')['Fare'].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

In [22]:
df.groupby('Pclass')['Fare'].median()

Pclass
1    60.2875
2    14.2500
3     8.0500
Name: Fare, dtype: float64

**10. Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.)**

In [26]:
df_dead_female = df[(df['Survived'] == 0) & (df['Sex'] == 'female')]
df_dead_male = df[(df['Survived'] == 0) & (df['Sex'] == 'male')]
dead_female_ratio = round(len(df_dead_female) / len(df[df['Sex'] == 'female']), 2)
dead_male_ratio = round(len(df_dead_male) / len(df[df['Sex'] == 'male']), 2)
print("Female death ratio:", dead_female_ratio)
print("Male death ratio:", dead_male_ratio)
if dead_female_ratio > dead_male_ratio:
  print("Female death ratio is higher than male death ratio.")
elif dead_female_ratio < dead_male_ratio:
  print("Male death ratio is higher than female death ratio.")

Female death ratio: 0.26
Male death ratio: 0.81
Male death ratio is higher than female death ratio.